*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-head{
    min-height: 15%;
    font-family: sans-serif;
    background-color: #fff;
    
}
.menu-head .navbar-brand{
    font-size: 2rem;
    font-family: 'pacifico';
}
.menu-head .nav-link {
    color: whitesmoke;
    font-size: 1.1em;
}
.navbar-nav .profile-img img{
    width: 25px;
    height: 25px;
    margin-top: 6px;
    border-radius: 50%
}
.banner-first h1{
    font-size: 48px;
    font-family: 'pacifico', sans-serif;
}
.banner-first p{
    margin: 16px 0;
    font-family: 'Dancing Script', cursive;
    font-size: 28px;
}
.filter-section .ad-list ul{
 list-style: none;
}
.filter-section .ad-list .list-part ul li{
    display: inline-block;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    
}
.filter-section .ad-list ul li a{
    font-size: 16px;
    color: rgb(0, 0, 0,0.5);
    padding: 10px 12px;

}
.filter-section .ad-list ul li a:hover{
    padding: 10px 12px;
    border-radius: 8px;
    text-decoration: none;
}
.filter-section .ad-list .ad-ul-list{
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}
.ad-list-active{
    color: #0064f9;
    background: rgba(13,12,34,0.05);
    padding: 10px 12px;
    border-radius: 8px;
    text-decoration: none;
    border-bottom: 3px solid #0064f9;
}

.filter-section .ad-list{
    border-bottom: 1px solid rgb(0, 0, 0,0.5) ;
}
#submit {
    margin-top: 2rem;
}
.filter-list{
    display: none;
}
.searchVisible {
    display: block;
    transition: width 2s;
}

.container h5 {
    margin-top: 20px;
    font-size: 14px;
}
.ad-main .single-ad{
    border-radius: 3px;
    margin-bottom: 2rem;
}
.ad-main .single-ad .single-card  h2 a img{
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border-radius: 50%;
}
.ad-main .single-ad .single-card  h2 .display-name{
    font-size: 14px;
    color: #3D3D4E;
    font-family: Arial, Helvetica, sans-serif;
}
.ad-main .single-ad  h2{
    font-size: 13px;
    margin: 5px 0;
}
.single-ad .img-container {
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    position: relative;
}
.single-ad .img-container .img-element {
    position: absolute;
    color: #fff;
    right: 10px;
    top: 10px;
    opacity: 2;
    transition: all .2s linear;
} 

.single-ad .img-container .ad-tittle {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all .2s linear;
} 
.ad-main .single-ad .single-card  h2 ul{
    list-style: none;
    display: inline-block;
    font-size: 13px;
    color: #3D3D4E;
    text-align: right;
    margin-left: 5px;
}
.f-count {
    display: inline-block;
    position: absolute;
    right: 0;
    padding-right: 14px;
}
.f-count > a{
	display: inline-block;
	min-width: 30px;
	padding: 3px 5px;
	color: #3D3D4E;
	text-align: center;
    border-radius: 20px;
    border: 1px solid #3D3D4E;
}
.img-item{
	display: inline-block;
    width: 120px;
    height: 25px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 25px !important;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}
.ad-tittle{
	display: inline-block;
    width: 100%;
    cursor: pointer;
    
}
.ad-tittle h4{
    color: #fff;
    font-size: 14px;
    padding-left: 10px;
    font-family: 'pacifico', sans-serif;
}
.single .img-container img{
	width: 350px;
	transition: all 0.25s linear;
	opacity: 0.5;
}
.single-ad .img-container:hover img{
	transform: scale(1.10, 1.10);
	opacity: 1;
}
.single-ad .img-container:hover .ad-tittle{
	opacity: 2;
}
.btn-outline-success{
    color: #00BFA6;
    border-color: #00BFA6;
}
.btn-outline-success:hover{
    background: #00BFA6;
    color: #fff;
}
.fixed-bottom-nav nav ul{
    display: inline-block;
}
.main-footer{
    z-index: 2;
    position: relative;
    border-top: 1px solid rgb(229, 229, 229);
    background: rgb(255, 255, 255)
}
.main-footer .sub-footer-one{
    font-size: 13px;
    color: rgb(158, 158, 167);
    margin: 0px auto;
    padding: 30px 30px 20px;
}
.main-footer .sub-footer-one .footer-about{
    width: 25%;
    box-sizing: border-box;
    margin: 0px 0px 20px
}

.main-footer .sub-footer-one a h4{
    color: rgb(158, 158, 167);
    font-size: 16px;
    font-family: 'pacifico', sans-serif;
}
.main-footer .sub-footer-one h4{
    color: rgb(158, 158, 167);
    font-size: 16px;
}
.main-footer .sub-footer-one ul{
    list-style: none;
    color: rgb(158, 158, 167);
}
.main-footer .sub-footer-one ul li a{
    color: rgb(158, 158, 167);
}
.main-footer .sub-footer-one a:hover{
    text-decoration: none;
}
.main-footer .sub-footer-one .social-connect .social{
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.main-footer .sub-footer-one .social-connect a{
    color: #333333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}
.main-footer .sub-footer-two{
    font-size: 13px;
    color: rgb(158, 158, 167);
    margin: 0px auto;
    padding: 10px 30px 20px;
    background-color: #F9F8FD;
    text-align: center;
}
.signin-prop{
    margin: 0px auto;
    padding: 30px 30px 20px;
    background: #F9F8FD;
}
.signin-prop .signin-p {
    text-align: center;
    
}
.signin-prop .signin-p #signUp{
    font-family: 'pacifico', sans-serif;
    
}
.signin-prop .signin-p #signIn{
    font-family: 'pacifico', sans-serif;
    color: #00BFA6;
}
.signin-prop .signin-p #signIn:hover{
    color: #000;
}

/* ************************ */
/*  single page
****************************** */

  .row > .column {
    padding: 0 0px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Create four equal columns that floats next to eachother */
  /* .column {
    float: left;
    width: 25%;
  } */
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 70%;
    height: 60%;
    max-width: 1000px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }
  .mySlides img{
      height: 60%;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .reviews .one-review img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .ad-head .ad-profile img{
      width: 70px;
      height: 70px;
      border-radius: 50%;
  }
  
  .ad-head .ad-title h3{
      text-transform: uppercase;
  }

  .main-section .profile-top {
      background: #F9F8FD;
      height: 200px;
      margin-bottom: 30px;
  }

.main-section .profile-top .profile-img img{
    border-radius: 50%;
    margin-top: 50px;
}
.main-section .login-img img{
    width: 100%;
    margin: 2.5rem;
}

.main-section .login-side{
    background: #fff;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}
.main-section .login-side h4{
    text-align: center;
}
.main-section .login-side fieldset{
    margin: 2.5rem;
}
  @media only screen and (max-width: 600px){
    .mySlides img{
        height: 130%;
    }
    .main-section .login-img{
       display: none;
    }
  }