*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-head{
    min-height: 15%;
    font-family: sans-serif;
    background-color: #fff;
}
.menu-head .navbar-brand{
    font-size: 2rem;
    font-family: 'pacifico';
}
.menu-head .nav-link {
    color: whitesmoke;
    font-size: 1.1em;
}
.banner-first h1{
    font-size: 48px;
    font-family: 'pacifico', sans-serif;
}
.banner-first p{
    margin: 16px 0;
    font-family: 'Dancing Script', cursive;
    font-size: 28px;
    
}