<footer class="main-footer">
    <div class="container">
      <div class="sub-footer-one">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <a href="#"><h4>EasyRent</h4></a>
           <p>
            Showing all the luxury accomodation
           </p>
            <p>We help people to showcase their accomodation which are available for rent </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <h4>EasyRent</h4>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="">Help</a></li>
              <li><a href="">Terms</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
            <h4>Connect</h4>
            <p>Link us on the following media</p>
            <div class="social-connect">
            <a href="" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="" class="social"><i class="fab fa-twitter"></i></a>
            <a href="" class="social"><i class="fab fa-instagram"></i></a>
            <a href="" class="social"><i class="fab fa-youtube"></i></a>
          </div>
          </div>
      </div>
      </div>
    </div>
    <div class="sub-footer-two ">
      <p>EasyRent &copy; 2020 limited</p>
    </div>
  </footer>