<nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="{{ url_for('index') }}">EasyRent</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      
      <ul class="navbar-nav ml-auto">
        {% if current_user.is_authenticated %}
        <li class="nav-item profile-img"><img src="{{ url_for('static', filename='images/profile.jpeg') }}" alt="" srcset=""></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('profile',  username=current_user.username) }}">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('logout') }}">logout</a>
          </div>
        </li>
        {% else%}
        <li class="nav-item mr-4">
          <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li>
      </ul>
      <form class="form-inline">
        <a class="btn btn-outline-success" type="button" href="{{ url_for('register') }}">Sign Up</a>
      </form>
      {% endif%}
    </div>
  </nav>