<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Nunito+Sans|Pacifico|Roboto&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'library/css/bootstrap.min.css') }}"  crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='library/css/bs4.pop.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/app.css' ) }}">
    {% if title %}
    <title>easyRent - {{ title }}</title>
    {% else %}
    <title>easyRent</title>
    {% endif %}
  </head>
  <body>
    <!-- header section -->
    
      {% block app_content%}
      
      
      {% endblock app_content%}
     <!-- footer section -->
        
       
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static',filename='library/js/jquery.min.js') }}" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename= 'library/js/popper.min.js') }}" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='library/js/bootstrap.min.js') }}" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/all.min.js') }}"></script>
    <script src="{{ url_for('static', filename='library/js/bs4.pop.js') }}"></script>
  </body>
  </html>