{% extends 'base.html' %}
    <!-- header section -->
    {% block app_content %}
    <header class="">
      <div class="menu-head shadow-sm" >
        <div class="container">
        {% include '_loginNav.html' %}
      </div>
    </div>
    </header>
 <!-- main section -->
    <main class="main-section">
     
      <div style="background:#F9F8FD">
      <div class="container py-3">
        
        <div class="row ">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="login-img">
               <img src="{{ url_for('static', filename='images/tophouse.svg') }}" alt="">
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="login-side">
             <fieldset class="py-3">
               <h4>Login Form</h4><hr>
               {% include '_messages.html' %}
               <form action="" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                  {{ form.email.label(class="form-control-label") }}
                  {% if form.email.errors %}
                  {{ form.email(class="form-control is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ form.email(class="form-control") }}
                 {% endif %}
                  
                </div>
                <div class="form-group">
                  {{ form.password.label(class="form-control-label") }}
                  {% if form.password.errors %}
                  {{ form.password(class="form-control is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %}
                  {{ form.password(class="form-control") }}
                 {% endif %}
                </div>
                <div class="form-check">
                  {{ form.remember(class='form-check-input') }}
                  {{form.remember.label(class='form-check-label') }}
                </div>
                <div class="form-group">
                  {{ form.submit(class="btn btn-outline-info") }}
                  
                </div>
                <span class=""><small class="text-muted">
                  <a href="{{ url_for('login')}}" class="ml-2">Forget Password ? </a> 
                </small></span>
              </form>
             </fieldset>
            </div>
            <div class="border-top py-3">
              <small class="text-muted">
                Don't have Acounts  ? <a href="{{ url_for('register')}}" class="ml-2">Register Here</a> 
              </small>
            </div>
          </div>
        </div>
      </div>
      </div>
    </main>

     <!-- footer section -->
  {% include '_loginFooter.html' %}
  {% endblock app_content %}
 