{% extends "base.html" %}
    
{% block app_content %}
<header class="">
  <div class="menu-head shadow-sm" >
    <div class="container">
    {% include '_main_navbar.html' %}
  </div>
</div>
</header>
 <!-- main section -->
    <main class="main-section">
       <div class="profile-top">
         <div class="container">
            <div class="profile-img">
                <img src="{{ url_for('static',filename='images/profile.jpeg') }}" alt="">
            </div>
         </div>
       </div>
      
    </main>

    {% include '_main-footer.html' %}
    {% endblock app_content %}